@charset "utf=8";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Page                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
    --app-white: #fff;
    --app-bg-dark: #191720;
    --app-red: #e6364e;
    --app-dark-gray: #26232b;
    --app-pink: #ff00ff;
}
    
body {
    background-color: var(--app-bg-dark);
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    text-rendering: geometricPrecision;
    overflow:auto;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 20px;
    font-weight: 500;
    color: var(--app-white);
    letter-spacing: 0.2px;
}

p {
    font-size:14px;
    font-weight: 400;
    color: var(--app-white);
}